{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>



{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>If you have linked a facebook account you can login by clicking the facebook link. (facebook is in development mode so there's extra prep if you want to use it)</p>
<p>Otherwise login using your website login information.</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    <s>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </s>
  </ul>



</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

<br>
<p>If you do not already have an account you can click the link below to create one.</p>
<p>Note: To create a new account using facebook login you can also click the facebook link above. To add facebook to an existing account though please use the link on your user profile page.</p>

<h1><a href="{{ signup_url }}">sign up</a></h1>

<br><br>

<a class="nav-link" href="{% url 'privacy policy' %}">Privacy Policy</a>

{% endblock %}
