CommunityInfrastructure/__pycache__/*
CommunityInfrastructure/migrations/*
ContentPost/__pycache__/*
ContentPost/migrations/*
Gallery/__pycache__/*
Gallery/migrations/*
League/__pycache__/*
League/migrations/*
UserAccounts/__pycache__/*
UserAccounts/migrations/*
UserAccounts/templatetags/__pycache__/*
GameData/migrations/*
GameData/__pycache__/*

website/__pycache__/*

media/*
static/*
website/settings.py
venv/*
static/css/bootstrap.css
