{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

{{ form.media.css }}

  <form method="post">{% csrf_token %}
     {{ form|crispy }}
     <input type="submit" value="Save">
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{ form.media.js }}

{% endblock content %}


<!-- SIDEBAR Right -->
{% block navbar_right_content %}
  {% include 'Gallery/sidebar_right.html' %}
{%endblock navbar_right_content %}
