{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load markdownify %}
<h1>
  {{profile}}
</h1>

{% if request.user.profile == profile %}

  <b>Home City:</b> {{request.user.profile.location}}<br>
  <b>Username:</b> {{request.user.username}}<br>
  <b>Firstname:</b> {{request.user.first_name}}<br>
  <b>Lastname:</b> {{request.user.last_name}}<br>
  <b>Email:</b> {{request.user.email}}<br>
{% endif %}



<p>Active seasons:
{%for psf in active_psf %}
  <br><a href="{% url 'psf view' psf.id %}">{{psf.season}} {{psf.print_most_specific_faction}}</a>
{%endfor%}
</p>
<p>Inactive seasons:
{%for psf in inactive_psf %}
  <br><a href="{% url 'psf view' psf.id %}">{{psf.season}} {{psf.print_most_specific_faction}}</a>
{%endfor%}
</p>

<br><br>
<p>Images Uploaded:</p>

{% include 'Gallery/gallery_display/pagination.html'%}


{% include 'Gallery/gallery_display/display_images.html' with source_profile=True heightpxval=350 fullscreen_col_val=4 %}

<br>
{% include 'Gallery/gallery_display/pagination.html'%}



{% endblock content%}


<!-- SIDEBAR Left-->
{% block navbar_left_content %}
  <p>(league info would go here instead of announcments if that feature was live)</p>
  <h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{%endblock navbar_left_content%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}

{% include 'UserAccounts/sidebar_right.html' %}

{% include 'Gallery/gallery_display/image_filter_sidebar.html' with source_profile=True %}

{%endblock navbar_right_content%}
