{% extends 'base.html' %}
{% block content %}



<h1>
Private User Profile Page for : {{request.user.profile}}
</h1>

<p>User's Home City: {{request.user.profile.location}}</p>

{{request.user.username}}<br>
{{request.user.first_name}}<br>
{{request.user.last_name}}<br>
{{request.user.email}}<br>


{% endblock %}


{% block navbar_right_content %}

<div class="panel-heading">
  <h3>Admin Panel</h3>
</div>


{% if request.user.is_staff or perms.UserAccounts.approve_users %}
<li><a href="{% url 'approve user'%}" >Enable A User to Post Images</a></li>
{% endif %}
<br>

<div class='panel-body'>
  <ul>
    <li><a href="{% url 'account_change_password'%}" >Change Password</a></li>
    <li><a href="{% url 'account_email'%}" >Update Email Address</a></li>
    <li><a href="{% url 'socialaccount_connections'%}" >Alternative Log in Methods</a></li>
  </ul>

  {% if request.user.studios_managed.all %}
    <h5>Painting Studios you manage</h5>
    {% for studio in request.user.studios_managed.all %}
      <li><a href="{%url 'painting studio' studio.slug studio.id %}">{{studio}}</a></li>
    {%endfor%}
  {% endif %}



</div>

{%endblock navbar_right_content%}

{% block navbar_left_content %}
  <p>(league info would go here instead of announcments if that feature was live)</p>
  <h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{% endblock navbar_left_content %}
