{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3>Welcome!</h3>
<p>Welcome to the testing phase for this website!</p>

<h4>What is the site?</h4>
<p>
<b>Part 1: </b>(currently deployed) This website is a project aimed at providing a unmet service for the tabletop miniature community. Currently artists wishing to share their painted miniatures do so on facebook groups or platforms like instagram, the problem with this system is that these images are very difficult to find, facebook is not searchable and instagram while searchable does not provide relevant enough results to be useful. This website makes it easy to search images and discover new artists.
</p>

<p>
<b>Part 2: </b>(in development) Currently stores and clubs for many miniature wargames run leagues for their local Communities with the admins managing league registration and matchmaking by hand. This website also provides tools for league administrators to automate the managment of their leagues.
</p>

<h3>Gallery info</h3>
<p>Uploading images to the gallery requires an account that has been aproved by an admin, viewing images can be done without an account.</p>
<p>When uploading images try to be as descriptive as possible with your tags to help enable accurate image filtering.</p>
<p>The image colour tags are intented to match as closely as possible without becoming too specific to help enable easier searching.</p>

<br>
<br>
<h3>Groups & Organization Info</h3>
<p>The groups&organizations portion of the site contains functionality to view commission painters for an area(as well as view their work) along with clubs or stores</p>
<br>
<style>

#export_example_1:hover, #export_example_2:hover, #export_example_3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 90%;
  max-height: 90%;
}

/* Caption of Modal Image */
#caption1,caption2,caption3 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }



}
</style>

<p>Images can be exported to Faceook or Instagram! (proof of concept implementation, Dialog with commission painters required to realize an effective implementation)</p>

<img id="export_example_1" src="{% static '/universal/export example 1.jpg' %}" style="width: 300px; height: 300px; object-fit: contain; border-radius: 5px; cursor: pointer; transition: 0.3s;" alt="Select the Export Method">
<img id="export_example_2" src="{% static '/universal/export example 2.jpg' %}" style="width: 300px; height: 300px; object-fit: contain; border-radius: 5px; cursor: pointer; transition: 0.3s;" alt="Customize your post">
<img id="export_example_3" src="{% static '/universal/export example 3.jpg' %}" style="width: 300px; height: 300px; object-fit: contain; border-radius: 5px; cursor: pointer; transition: 0.3s;" alt="Results!">

<!-- The first Modal -->
<div id="modal_1" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="export_example_1_modal_1">
  <div id="caption1"></div>
</div>

<!-- The second Modal -->
<div id="modal_2" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="export_example_2_modal_2">
  <div id="caption2"></div>
</div>

<!-- The third Modal -->
<div id="modal_3" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="export_example_3_modal_3">
  <div id="caption3"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById("modal_1");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("export_example_1");
var modalImg = document.getElementById("export_example_1_modal_1");
var captionText = document.getElementById("caption1");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

var modal2 = document.getElementById("modal_2");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img2 = document.getElementById("export_example_2");
var modalImg2 = document.getElementById("export_example_2_modal_2");
var captionText2 = document.getElementById("caption2");
img2.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span2 = document.getElementsByClassName("close")[1];

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
  modal2.style.display = "none";
}

var modal3 = document.getElementById("modal_3");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img3 = document.getElementById("export_example_3");
var modalImg3 = document.getElementById("export_example_3_modal_3");
var captionText3 = document.getElementById("caption3");
img3.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span3 = document.getElementsByClassName("close")[2];

// When the user clicks on <span> (x), close the modal
span3.onclick = function() {
  modal3.style.display = "none";
}

</script>


<h3>Login</h3>
<p>Facebook login and similar api features are currently in development mode which means anybody that wants to help test them needs to talk to me first to authenticate.</p>

{% endblock content %}





{% block navbar_right_content %}

<h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{% endblock navbar_right_content %}
