{% extends 'base.html' %}
{% block content %}

<h3>Welcome!</h3>
<p>Welcome to the testing phase for this website!</p>
<p>Upload and browse images or automate your posting to social media if you're a commission painter!</p>

<h3>Gallery info</h3>
<p>Uploading images to the gallery requires an account that has been aproved by an admin, viewing images can be done without an account.</p>
<p>When uploading images try to be as descriptive as possible with your tags to help enable accurate image filtering.</p>
<p>The image colour tags are intented to match as closely as possible without becoming too specific to help enable easier searching.</p>

<br>
<br>
<h3>Groups & Organization Info</h3>
<p>The groups&organizations portion of the site contains functionality to view commission painters for an area(as well as view their work) along with clubs or stores</p>

{% endblock content %}


{% block navbar_right_content %}

<h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{% endblock navbar_right_content %}
