{% extends 'base.html' %}
{% block content %}

<h1>
  Facebook Image Export
</h1>

<h5>Update permissions</h5>
<p>if you can't select a page below you probably need to set permissions here!</p>
<p>(this will redirect you back to your studio page but you only need to do it once!)</p>
{% load socialaccount %}

{%comment%}
<a href="{% provider_login_url "openid" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a>
<a href="{% provider_login_url "twitter" %}">Twitter</a>
{%endcomment%}


{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {%comment%}
      {% include "socialaccount/snippets/provider_list.html" with process="login" scope="pages_show_list,pages_read_engagement,pages_manage_posts" %}
      {%endcomment%}
      <li><a href="http://localhost:8000/accounts/facebook/login/?process=login&scope=pages_show_list%2Cpages_read_engagement%2Cpages_manage_posts&next=/organizations/paintingstudio/{{studio.slug}}/{{studio.id}}">Facebook</a></li>
    </ul>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{%endif%}


<h3>Export</h3>
<p>First select a page to export images to.</p>

  <form action="{%url 'studio request facebook' studio.slug studio.id %}" method="post">
      {% csrf_token %}
      <label for="select_page">Select the Page to Post to.</label>

      <select id="select_page" name="select_page">
        {% for item in pages_managed %}
          <option value="{{item.id}}">{{item.name}}</option>
        {%endfor%}
      </select>
      <input type="hidden" id="count" name="count" value={{count}} readonly>
      <input type="submit" value="select page">
    </form>


{% endblock %}


<!-- SIDEBAR -->


{% block navbar_right_content %}

<div class="panel-heading">
  <h3>Panel</h3>
</div>

<div class='panel-body'>
  <p>studio detail specific sidebar</p>
</div>

{% include 'CommunityInfrastructure/sidebar_right.html' %}
{% include 'Gallery/sidebar_right.html' %}

{%endblock%}
