{% extends 'base.html' %}
{% block content %}

<h1>
  Export to Instagram
</h1>

<h5>Update permissions</h5>
<p>If you can't select a page below you probably need to set permissions here! (Instagram uses facebook permissions for their API)</p>
<p>(this will redirect you back to your studio page but you only need to do it once!)</p>

{% load socialaccount %}

{%comment%}
<a href="{% provider_login_url "openid" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a>
<a href="{% provider_login_url "twitter" %}">Twitter</a>
{%endcomment%}


{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}

  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {%comment%}
      {% include "socialaccount/snippets/provider_list.html" with process="login" scope="pages_show_list,instagram_basic,instagram_content_publish,business_management,pages_read_engagement" %}
        ads_management,
      {%endcomment%}
      <li><a href="http://localhost:8000/accounts/facebook/login/?process=login&scope=pages_show_list%2Cinstagram_basic%2Cinstagram_content_publish%2Cbusiness_management%2Cpages_read_engagement&next=/organizations/paintingstudio/{{studio.slug}}/{{studio.id}}">Facebook</a></li>
    </ul>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}
{%endif%}

<h3>Images must be .jpeg</h3>

<h4>Select the Page that the instagram account is linked to</h4>
<p>(Instagram API connects through facebook so in order to use their api you must have a facebook page you manage linked to your Instagram account)</p>

  <form action="{%url 'studio request instagram' studio.slug studio.id %}" method="post">
      {% csrf_token %}
      <label for="select_page">Select the Page your Instagram account is linked to.</label>

      <select id="select_page" name="select_page">
        {% for item in pages_managed %}
          <option value="{{item.id}}">{{item.name}}</option>
        {%endfor%}
      </select>
      <br><br>
      <label for="caption">Caption for uploaded images: </label>
        <textarea id='caption' name="caption" rows="2" cols="50"></textarea>
      <input type="hidden" id="count" name="count" value={{count}} readonly>
      <br><br>
      <input type="submit" value="Export Images">
    </form>

{% endblock %}




<!-- SIDEBAR -->


{% block navbar_right_content %}

<div class="panel-heading">
  <h3>Panel</h3>
</div>

<div class='panel-body'>

<p>studio detail specific sidebar</p>



</div>

{% include 'CommunityInfrastructure/sidebar_right.html' %}
{% include 'Gallery/sidebar_right.html' %}

{%endblock%}
