{% extends 'base.html' %}
{% block content %}



<h1>
Choose New Admins for {{group}}
</h1>

<p>Note: Only users within the same city as your group are displayed here. If you need a user from outside your city please contact a site admin to have them manually added.</p>

Existing Primary Admins:
{%for admin in group.group_primary_admins.all %}
  <br>{{admin}}
{%endfor%}

<br>
Existing Secondary Admins:
{%for admin in group.group_secondary_admins.all %}
  <br>{{admin}}
{%endfor%}

  {%if group.location_city %}
    <form action="{%url 'group add admin' group.location_city group.slug group.id %}" method="post">
  {%elif group.location_region %}
    <form action="{%url 'group add admin' group.location_region group.slug group.id %}" method="post">
  {%elif group.location_country %}
    <form action="{%url 'group add admin' group.location_country group.slug group.id %}" method="post">
  {%endif%}


  {% csrf_token %}

  <label for="select_admins_primary">Select User to be Primary Admins</label>
  <select id="select_admins_primary" class="form-control apply_select2" name="select admins primary" multiple>
    {% for user in local_members_primary %}
      <option value="{{ user.id }}"> {{ user.user.username }} {{user.user.first_name}} {{user.user.last_name}}</option>
    {% endfor %}
  </select>

  <label for="select_admins_secondary">Select User to be Secondary Admins</label>
  <select id="select_admins_secondary" class="form-control apply_select2" name="select admins secondary" multiple>
    {% for user in local_members_secondary %}
      <option value="{{ user.id }}">{{ user.user.username }} {{user.user.first_name}} {{user.user.last_name}}</option>
    {% endfor %}
  </select>

  <input type="submit" value="Add Admins">
</form>



{% endblock %}

<!-- Sidebar Left-->
{% block navbar_left_content %}
<div class="panel-heading">
  <h3>Title</h3>
</div>

<div class='panel-body'>

<p>navbar</p>

</div>

{%endblock navbar_left_content%}

<!-- Sidebar Right -->
{% block navbar_right_content %}

{% include 'CommunityInfrastructure/sidebar_right.html' %}

{%endblock navbar_right_content%}
