{% extends 'base.html' %}
{% block content %}
{% load user_group_admin_check_filters %}
{% load markdownify %}

<h1>
{{group}}
</h1>
<h4>{{group.group_tag}}</h4>

<p>
{{group.group_description|markdownify}}
</p>

<br>
<h3>Images tagged with: {{group}}</h3>

{% include 'Gallery/gallery_display/pagination.html'%}

{% include 'Gallery/gallery_display/display_images.html' with group=group %}

<br>
{% include 'Gallery/gallery_display/pagination.html'%}


{% endblock %}

<!-- Sidebar Left -->
{% block navbar_left_content %}

<div class="panel-heading">
  <h3>Leagues Run by {{group}}</h3>
</div>

<div class='panel-body'>

  {%if group.leagues_managed.all%}
    <ul>
      {%for league in group.leagues_managed.all %}
        <li><a href="{% url 'league details' league.id league.league_name|slugify %}">{{league.league_name}}</a></li>
      {%endfor%}
    </ul>
  {%else%}
    <ul>No Leagues Currently Registered</ul>
  {%endif%}

</div>

<a href="{% url 'groups by zone' currentzonestr %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
</svg>View groups in {{currentzonestr}}</a>
{%endblock%}



<!-- SIDEBAR Right-->
{% block navbar_right_content %}


<div class='panel-body'>


{%comment%}
  <!-- group location checks are done in ifelses b/c most of them should be citys so this saves processsing -->
{%endcomment%}


<h2>Group Admins:</h2>
<b>Primary:</b>
{%if group.group_primary_admins.all %}
  {%for admin in group.group_primary_admins.all %}
    <br>{{admin}}: {{admin.userprofile.user.first_name}} {{admin.userprofile.user.last_name}}
  {%endfor%}
{%else%}
  <br>No Primary Admins
{%endif%}

<br>
<b>Secondary:</b>
{%if group.group_secondary_admins.all %}
  {%for admin in group.group_secondary_admins.all %}
    <br>{{admin}}: {{admin.userprofile.user.first_name}} {{admin.userprofile.user.last_name}}
  {%endfor%}
{%else%}
  <br>No Secondary Admins
{%endif%}

<br>
<br>



{%if request.user.is_staff or group|is_primary_admin:request.user %}

<div class="panel-heading">
  <h3>Group Administration Panel</h3>
</div>
  <li><a href="{% url 'create league' group.id %}">Create new League or Event</a></li>

  <!-- Add an Admin -->
  {%if group.location_city %}
    <li><a href="{% url 'group add admin' group.location_city group.slug group.id %}">Add Admins</a></li>
  {%elif group.location_region %}
    <li><a href="{% url 'group add admin' group.location_region group.slug group.id %}">Add Admins</a></li>
  {%elif group.location_country %}
    <li><a href="{% url 'group add admin' group.location_country group.slug group.id %}">Add Admins</a></li>
  {%endif%}

  <!-- Remove an Admin -->
  {%if group.location_city %}
    <li><a href="{% url 'group remove admin' group.location_city group.slug group.id %}">Remove Admins</a></li>
  {%elif group.location_region %}
    <li><a href="{% url 'group remove admin' group.location_region group.slug group.id %}">Remove Admins</a></li>
  {%elif group.location_country %}
    <li><a href="{% url 'group remove admin' group.location_country group.slug group.id %}">Remove Admins</a></li>
  {%endif%}

  <li><a href="{% url 'edit group' group.location_city group.slug group.id %}">Edit Group</a></li>

{%endif%}
{%if request.user.is_staff %}
  <br>
  <a href="{% url 'delete group' group.pk %}">Delete Group</a>
{%endif%}

</div>

{% include 'CommunityInfrastructure/sidebar_right.html' %}

{% include 'Gallery/gallery_display/image_filter_sidebar.html' %}

{%endblock%}
