{% extends 'base.html' %}
{% block content %}

<p><b>Website Test Version</b></p>

<h1 align='center'><a href="{% url 'gallery home' %}?order=popularity">Gallery</a></h1>
<h4 align='center'><a href="{% url 'groups top' %}">Groups & Organizations</a></h1>



<h3 align='center'> Most Popular Gallery Images</h3>

{% include 'Gallery/gallery_display/display_images.html' with images=popular_images heightpxval=200 fullscreen_col_val=2 %}


<br><br>
<h3 align='center'>Random Gallery Images</h3>
{% include 'Gallery/gallery_display/display_images.html' with images=random_images heightpxval=200 fullscreen_col_val=2 %}




<br>

<br>
<br>
{% endblock content %}

<!-- SIDEBAR Left -->
{% block navbar_left_content %}

  <p>Leagues you are signed up for would go here if that feature was live</p>

{% endblock navbar_left_content %}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}

<h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{% endblock navbar_right_content %}
