{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load markdownify %}
<h1>
  {{studio}}
</h1>

<a href="{{studio.Studio_page}}">Visit Studio Page (external link)</a>


<p><br>{{studio.description|markdownify}}</p>

{% include 'Gallery/gallery_display/pagination.html'%}

{% include 'Gallery/gallery_display/display_images.html' with source_studiodetail=True%}

<br>
{% include 'Gallery/gallery_display/pagination.html'%}





{% endblock %}


<!-- SIDEBAR Left-->
{% block navbar_left_content %}
  {% include 'CommunityInfrastructure/sidebar_left.html' %}
{%endblock navbar_left_content%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}



<div class='panel-body'>

  {% if request.user.is_staff or request.user == studio.userprofile %}
  <div class="panel-heading">
    <h3>Studio Administration</h3>
  </div>
    <a href="{% url 'edit painting studio' studio.id %}">Edit Page for {{studio.Studio_name}}</a>

    <br><br>
    <form action="{%url 'studio export' studio.slug studio.id %}" method="post">
        {% csrf_token %}
        <h3>Export Images</h3>
          {{form|crispy}}
        <input type="submit" value="export images">
      </form>
  {% endif %}
</div>

<br>
{% include 'CommunityInfrastructure/sidebar_right.html' %}
<br>

{% include 'Gallery/gallery_display/image_filter_sidebar.html' with source_studiodetail=True %}

{%endblock navbar_right_content%}
