
{%comment%}
  <!-- search form is duplicated here because we have some studio specific considerations and parameters -->
{%endcomment%}


<div class="panel-heading">

  {% if request.user.is_staff %}
      <a class="nav-item nav-link" href="{% url 'manage image fields' %}">manage image fields</a>
  {% endif %}

  <h3>Filter Images</h3>
</div>
<a class="nav-item nav-link" href="{{request.path}}">Reset Filters</a>

<div class='panel-body'>
{{ filter_form.form.media.css }}
<link href="/static/django_select2/django_select2.css" type="text/css" media="screen" rel="stylesheet">
  <form  method="get">
    <div class="form-group">

        {# <legend class="border-bottom mb-4">Filter Images By</legend> #}

        <label for="{{field.name}}" class='col-2 control-label'>{{filter_form.form.fuzzy_search.label}}</label>
        <div class='col-10'>
          {{ filter_form.form.fuzzy_search }}
        </div>

        <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Expand Advanced Search
        </button>

        <div class="collapse" id="collapseExample">
          <p>Note: these filters currently search for images where only the selected filters are present. For example a filter of Necrons & Tyranids will return only images that have both and no images that only have one</p>

          {%for field in filter_form.form%}

            {% if field.label == filter_form.form.fuzzy_search.label %}
              <!-- deleted keyword since it appears above -->
            {% else %}
              <label for="{{field.name}}" class='col-2 control-label'>{{field.label}}</label>
              <div class='col-10'>
                {{ field }}
              </div>
            {% endif %}




          {%endfor%}


        </div>


    </div>
    <button class="btn btn-primary" type="submit">Filter</button>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{ filter_form.form.media.js }}
</div>
