{% extends 'base.html' %}
{% load static %}
{% block content %}


    <form method="post">
      {% csrf_token %}
      <div class="row justify-content-around">


        <div class="col-md-3 gy-3"align='center'>

          {% for option in images %}

            <label for="option_{{option.id}}"><img class="image-center-fit" src="{{option.image.url}}" style="max-width: 350px; max-height: 350px;"></label>
            <input required type="radio" id='option_{{option.id}}' name='image_select' value='{{option.id}}'>

          {%endfor%}

          <input type="hidden" id="image_list" name="image_list" value="{{ images|join:',' }}" readonly>
          <input type="hidden" id="main" name="main" value="{{main}}" readonly>

        </div>
      </div>
      <button class="btn btn-primary" type="submit">Select</button>
    </form>



    {% endblock %}
<!-- style="width: 100%; height: 350px; object-fit: contain;" -->
