{% extends 'base.html' %}

{%block metatags%}
<meta property="og:title" content="{{image.image_title}}">
<meta property="og:description" content="Image from the Mini Gallery">
<meta property="og:url" content="https://nl.purplesquid.ca{% url 'image details' image.id %}">
<meta property="og:site_name" content="Mini-Gallery">
<meta property="og:image" content="{{image.image.url}}">
<meta property="og:image:width" content="2514">
<meta property="og:image:height" content="1380">
{%endblock metatags%}

{%block head_title%}
Mini-Gallery -Detail
{%endblock head_title%}

{% block content %}

<div class=""align='center'>



  <h1>
  Image Details
  </h1>



  <h3>{{image.image_title}}</h3>
  <a href={{image.image.url}}>
  <img class="image-center-fit" src="{{image.image.url}}" style="max-width: 100%; max-height: 800px;">
  </a>

  {% if image.system.all %}
    <h3>Game System:</h3>

      {%for system in image.system.all %}
        {{system}}<br>
      {%endfor%}

  {%endif%}
  {% if image.faction_type.all %}
    <h3>Faction Type:</h3>

      {%for faction in image.faction_type.all %}
        {{faction}}<br>
      {%endfor%}

  {%endif%}
  {% if image.factions.all %}
    <h3>Faction:</h3>

      {%for faction in image.factions.all %}
        {{faction}}<br>
      {%endfor%}

  {%endif%}
  {% if image.sub_factions.all %}
    <h3>Sub-Faction:</h3>

      {%for sub_faction in image.sub_factions.all %}
        {{sub_faction}}<br>
      {%endfor%}

  {%endif%}
  {% if image.colours.all %}
    <h3>Colours:</h3>

      {%for colour in image.colours.all %}
        {{colour}}<br>
      {%endfor%}

  {%endif%}
  {% if image.unit_type.all %}
    <h3>Models Present:</h3>
      {%for unit_type in image.unit_type.all%}
        {{unit_type}}<br>
      {%endfor%}
  {%endif%}
  <br>
  {% if image.conversion.all %}

    <b>Conversion Level:</b>

      {%for conversion in image.conversion.all %}
        <li>{{conversion}}</li>
      {%endfor%}

  {%endif%}

  {% if image.paintingstudio.all %}
    <br>
    <b>Painted by:</b>

      {%for studio in image.paintingstudio.all %}

          <li>
            <a href="{%url 'painting studio' studio.slug studio.id %}">{{studio}} (Internal Link)</a>
            <a class='studio_page' href="{{studio.Studio_page}}">Visit Studio Page (External Link)</a>
          </li>
      {%endfor%}


  {%endif%}
  <br>
  {% if image.scale %}
    Image Scale: {{image.scale}}<br>
  {%endif%}
  {% if image.owner %}
    Content owner: {{image.owner}}<br>
  {%endif%}
  {% if image.location %}
    Location: {{image.location}}<br>
  {% endif %}

  {% if request.user.is_authenticated %}
  <br>
    {% if liked %} <a class="btn btn-light" href="{% url 'image upvote' image.id %}?unlike=True">Un-Like</a> {%else%} <a class="btn btn-light" href="{% url 'image upvote' image.id %}?like=True">Like</a> {% endif %}
  {%endif%}
  <br>

</div>


{% endblock %}



{% block navbar_right_content %}

  <a class="nav-item nav-link" href="{% url 'gallery home' %}?{% for key, value in request.GET.items %}{{key}}={{value}}&{%endfor%}">Return to Browse</a>



  {%if request.user.is_staff or request.user == image.uploader %}
    <div>
      <a class="btn btn-outline-light" href="{%url 'image update' object.id%}?{% for key, value in request.GET.items %}{{key}}={{value}}&{%endfor%}">Edit</a>
      <a class="btn btn-outline-danger" href="{%url 'image delete' object.id%}">Delete</a>
    </div>
  {%endif%}
  <br>
  {% include 'Gallery/sidebar_right.html' %}


{%endblock navbar_right_content%}

{% block navbar_left_content %}

<h1>Announcements</h1>
  {%for news in news %}
    {%if news.headline%}
      <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%else%}
      <a class="list-group-item list-group-item-secondary" href="{% url 'blog detail' news.id %}">{{news}}</a>
    {%endif%}
  {%endfor%}
{% endblock navbar_left_content %}
