{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{{ form.media.css }}


<p>add drop page</p>

<form method="post" >{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Save">
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock %}


<!-- SIDEBAR Left -->
{% block navbar_left_content %}

<p>left navbar</p>

{%endblock%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}

{% comment %} {% include 'CommunityInfrastructure/sidebar_right.html' %} {% endcomment %}

{%endblock%}
