{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load user_group_admin_check_filters %}
{% load markdownify %}

<h1>
{{league}}
</h1>


<p>
{{league.league_description|markdownify}}
</p>


{%if reverse_seasons%}

  {% with reverse_seasons|slice:":2" as my_var %}

    {%if my_var.1%}
      <h3>{{my_var.1.season_name}}</h3>
      {% include 'League/components/season_player_table.html' with season=my_var.1%}
    {%else%}
    <h3>{{my_var.0.season_name}}</h3>
      {% include 'League/components/season_player_table.html' with season=my_var.0%}
    {%endif%}



  {%endwith%}
 
{%endif%}


{% endblock %}


<!-- SIDEBAR Left -->
{% block navbar_left_content %}

<div class="panel-heading">
  <h3>Seasons:</h3>
</div>

<div class='panel-body'>

  {%if reverse_seasons%}
    <ul>
      {%for season in reverse_seasons|dictsort:"id" %}
        <li><a href="{% url 'season details' season.id league.league_name|slugify %}">{{season.season_name}}</a></li>
      {%endfor%}
    </ul>
  {%else%}
    <ul>No Seasons Currently Registered</ul>
  {%endif%}

</div>



<a href="{% url 'group info' 'Region' league.group.slug league.group.id %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
</svg>Return to {{league.group}}</a>

{%endblock%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}



{%if reverse_seasons%}

  {% with reverse_seasons|first as season %}

    {%if season.registration_active%}
    <h4>Registration is active for {{season.season_name}}</h4>
      {%if season.players_in_season.all %}
        {% cycle '' 'You are registered!' as var %}
        {%for psf in season.players_in_season.all %}
          {%if request.user.profile == psf.profile %}
            {%cycle var%}
          {%endif%}
        {%endfor%}


        {%if var == 'You are registered!'%}
          
        {%else%}
          <a href="{% url 'season register' season.id season.league.league_name|slugify %}">Register for this season of the league!</a>
        {%endif%}
      {%else%}
        <a href="{% url 'season register' season.id season.league.league_name|slugify %}">Register for this season of the league!</a>
      {%endif%}
    {%else%}
    error
    {%endif%}



  {%endwith%}

{%endif%}



{% comment %} {% include 'CommunityInfrastructure/sidebar_right.html' %} {% endcomment %}
<h2>League Admins:</h2>
{%if league.admins_managing.all %}
  {%for admin in league.admins_managing.all %}
    {{admin}}: {{admin.userprofile.user.first_name}} {{admin.userprofile.user.last_name}}<br>
  {%endfor%}
{%else%}
  <br>No Admins
{%endif%}

{% comment %} need to create the relation link in league creation then worry about this {% endcomment %}
{%if request.user.is_staff or league.group|is_primary_admin:request.user %}

<div class="panel-heading">
  <h3>League Administration Panel</h3>
</div>

{%if not reverse_seasons%}
<ul>
  
  <a href="{% url 'create season' league.id %}">Create an initial Season</a>
 
</ul>
{%else%}
seasons exist, new round button?
{%endif%}
<br>
<a href="{% url 'edit league' league.pk %}">Edit League</a>
<br>
<a href="{% url 'delete league' league.pk %}">Delete League</a>

{%endif%}

{%endblock%}
