{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load user_group_admin_check_filters %}
{% load league_template_filters %}
{% load markdownify %}

<h1>
{{match.round.season.league}}
</h1>


<h2>{{match.round.season}}</h2>

<h3>Round {{match.round.round_number}}</h3>

<h4>Match Details</h4>
<div class="row">
  <div class="col-12 gy-3"align='center'style="overflow-x:auto;">

<table class="table table-bordered table-hover" style="width:100%">
  <thead class="thead-light">
    <tr>
      <th>Player</th>
      <th>Faction</th>
      <th>Points</th>
      <th>--</th>
      <th>Faction</th>
      <th>Player</th>
      <th>Points</th>
      <th>Winner</th>
    </tr>
  </thead>
  <tbody>
    <tr data-href="{%url 'match details' match.id match.round.season.league.league_name|slugify%}">
      
      <td>{{match.player1.profile}}</td>
      <td>{{match.player1.faction}}{% if match.player1.sub_faction %} -- {{match.player1.sub_faction}}{% endif %}</td>
      <td>{{match.player1_score}}</td>
      <td>VS.</td>
      <td>{{match.player2.faction}}{% if match.player2.sub_faction %} -- {{match.player2.sub_faction}}{% endif %}</td>
      <td>{{match.player2.profile}}</td>
      <td>{{match.player2_score}}</td>
      <td>{%if match.winner %}{{match.winner.profile}}{%else%}Match Not Played{%endif%}</td>
      
      
    </tr>
  </tbody>
</table>

</div>
</div>

<button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#army_list_table" aria-expanded="false" aria-controls="army_list_table">
  View Army Lists
</button>

<div class="collapse" id="army_list_table">

  <table class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th>{{match.player1.profile}}: {{match.player1_list}}</th>
        <th>{{match.player2.profile}}: {{match.player2_list}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{match.player1_list.army_list|linebreaksbr}}</td>
        <td>{{match.player2_list.army_list|linebreaks}}</td>      
      </tr>
    </tbody>
  </table>
</div>




<h3>Standings:</h3>

{% include 'League/components/season_player_table.html' with season=match.round.season%}

<br>


{%if match.round.season.registration_active%}

  {%if match.round.season.players_in_season.all %}
    {% cycle '' 'You are registered!' as var %}
    {%for psf in match.round.season.players_in_season.all %}
      {%if request.user.profile == psf.profile %}
        {%cycle var%}
      {%endif%}
    {%endfor%}

    {%if var == 'You are registered!'%}
      
    {%else%}
      <a href="{% url 'season register' match.round.season.id match.round.season.league.league_name|slugify %}">Register for this season of the league!</a>
    {%endif%}
  {%else%}
    <a href="{% url 'season register' match.round.season.id match.round.season.league.league_name|slugify %}">Register for this season of the league!</a>
  {%endif%}

{%endif%}

{% include 'Gallery/gallery_display/display_images.html' with images=match_images%}

{% endblock %}


<!-- SIDEBAR Left -->
{% block navbar_left_content %}

<div class="panel-heading">
  <h5>{{match.round.season.league.league_name}}</h5>
  <h3>Matches:</h3>
</div>

<div class='panel-body'>


  <ul align=left>
    {%for loop_season in match.round.season.league.child_season.all%}
          
      <li><a href="{% url 'season details' loop_season.id loop_season.league.league_name|slugify %}">{{loop_season.season_name}}</a></li>
        {%if loop_season == match.round.season%}  
          <ul>
            {%for loop_round in match.round.season.seasons_rounds.all|dictsort:"id" %}
              {%if loop_round == match.round%}
                <li><a href="{% url 'round details' loop_round.id loop_round.season.league.league_name|slugify %}">Round {{loop_round.round_number}}</a></li>


                {%if match.round.round_matches.all%}
                <ul>
                  {%for match_var in match.round.round_matches.all|dictsort:"id" %}
                  <li>
                    {%if match_var == match %}
                      <b>{{match_var.concise_str}}</b>
                    {%else%}
                      <a href="{% url 'match details' match_var.id match_var.round.season.league.league_name|slugify %}">{{match_var.concise_str}}</a>
                    {%endif%}
                      
                    </li>
                  {%endfor%}
                </ul>
                {%else%}
                <ul>No Matches Currently Registered</ul>
                {%endif%}




              {%else%}
              <li><a href="{% url 'round details' loop_round.id loop_round.season.league.league_name|slugify %}">Round {{loop_round.round_number}}</a></li>
              {%endif%}
            {%endfor%}
          </ul>
        {%endif%}
            
        
    {%endfor%}
  </ul>


{% comment %} 

  ------------------
  {%if match.round.round_matches.all%}
    <ul>
      {%for match_var in match.round.round_matches.all|dictsort:"id" %}
      <li>
        {%if match_var == match %}
          <b>{{match_var.concise_str}}</b>
        {%else%}
          <a href="{% url 'match details' match_var.id match_var.round.season.league.league_name|slugify %}">{{match_var.concise_str}}</a>
        {%endif%}
          
        </li>
      {%endfor%}
    </ul>
  {%else%}
    <ul>No Matches Currently Registered</ul>
  {%endif%} {% endcomment %}

</div>

<div align=left>

  <a href="{% url 'league details' match.round.season.league.id match.round.season.league|slugify %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
  </svg>Return to {{match.round.season.league}}</a>
  
  <br>
  
  <a href="{% url 'season details' match.round.season.id match.round.season.league|slugify %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
  </svg>Return to {{match.round.season.season_name}}</a>

  <br>

  <a href="{% url 'round details' match.round.id match.round.season.league|slugify %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
  </svg>Return to {{match.round.concise_str}}</a>
  
  </div>

{% comment %} 
<a href="{% url 'round details' match.round.id match.round.season.league|slugify %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
</svg>Return to {{match.round.concise_str}}</a> {% endcomment %}

{%endblock%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}
{% if match.player1.profile == request.user.profile or match.player2.profile == request.user.profile %}
  <a href="{% url 'edit match' match.pk %}">Submit or Update results</a>
{%endif%}

{%if match|match_permission_check:request.user%}
  <br>
  <a href="{% url 'upload match image' match.pk %}">Upload multipule Images</a>
  <br>
  <a href="{% url 'upload match multipart' match.pk %}">Upload multipart Image</a>
{%endif%}

<h2>League Admins:</h2>
{%if match.round.season.league.admins_managing.all %}
  {%for admin in match.round.season.league.admins_managing.all %}
    {{admin}}: {{admin.userprofile.user.first_name}} {{admin.userprofile.user.last_name}}<br>
  {%endfor%}
{%else%}
  <br>No Admins
{%endif%}


{%if request.user.is_staff or match.round.season.league.group|is_primary_admin:request.user %}

<div class="panel-heading">
  <h3>League Administration Panel</h3>
</div>

<a href="{% url 'edit match' match.pk %}">Edit Match</a>
<a href="{% url 'delete match' match.pk %}">Delete Match</a>

{%endif%}

{%endblock%}
