{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load user_group_admin_check_filters %}
{% load markdownify %}

<h1>
{{season.league}}
</h1>


<p>
{{season.league.league_description|markdownify}}
</p>

<h2>{{season}}</h2>

<p>info about rounds here</p>


{%if season.players_in_season.all %}
<h3>Players registered:</h3>

{% include 'League/components/season_player_table.html' %}

{%else%}
  <br>No participants registered
{%endif%}

<br>





{%if season.players_in_season.all %}
  {% cycle '' 'You are registered!' as var %}
  {%for psf in season.players_in_season.all %}
    {%if request.user.profile == psf.profile %}
      {%cycle var%}
    {%endif%}
  {%endfor%}


  {%if var == 'You are registered!'%}
    
  {%else%}
    <a href="{% url 'season register' season.id season.league.league_name|slugify %}">Register for this season of the league!</a>
  {%endif%}
{%else%}
  <a href="{% url 'season register' season.id season.league.league_name|slugify %}">Register for this season of the league!</a>
{%endif%}



{% endblock %}


<!-- SIDEBAR Left -->
{% block navbar_left_content %}

<a href="{% url 'league details' season.league.id season.league|slugify %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z"/>
</svg>Return to {{season.league}}</a>

{%endblock%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}

{% comment %} {% include 'CommunityInfrastructure/sidebar_right.html' %} {% endcomment %}
<h2>League Admins:</h2>
{%if season.league.admins_managing.all %}
  {%for admin in season.league.admins_managing.all %}
    {{admin}}: {{admin.userprofile.user.first_name}} {{admin.userprofile.user.last_name}}<br>
  {%endfor%}
{%else%}
  <br>No Admins
{%endif%}

{% comment %} need to create the relation link in league creation then worry about this {% endcomment %}
{%if request.user.is_staff or season.league.group|is_primary_admin:request.user %}

<div class="panel-heading">
  <h3>League Administration Panel</h3>
</div>

<a href="{% url 'edit season' season.pk %}">Edit Season</a>
<br>
<a href="{% url 'delete season' season.pk %}">Delete Season</a>

{%endif%}

{%endblock%}
