{% extends 'base.html' %}
{% block content %}


<h1>
Announcements
</h1>


{%for content_post in content_posts%}
  {%if content_post.headline%}
    <a class="list-group-item list-group-item-dark" href="{% url 'blog detail' content_post.id %}">{{content_post}}</a>
  {%else%}
    <a class="list-group-item list-group-item-light" href="{% url 'blog detail' content_post.id %}">{{content_post}}</a>
  {%endif%}
{%endfor%}


<br>

{% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1{%if search %}&search={{search}}{%endif%}">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{%if search %}&search={{search}}{%endif%}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}{%if search %}&search={{search}}{%endif%}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}{%if search %}&search={{search}}{%endif%}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{%if search %}&search={{search}}{%endif%}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{%if search %}&search={{search}}{%endif%}">Last</a>
  {% endif %}

  {% endif %}



{% endblock content%}

<!-- SIDEBAR Right -->
{% block navbar_right_content %}
  {% include 'ContentPost/sidebar_right.html' %}
{%endblock navbar_right_content%}
