<table class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th>Player</th>
        <th>Faction</th>
        <th>W/L Record</th>
        <th>{%if season.league.system.game_system_name == 'Infinity' %}TP-OP-VP{%else%}Points{%endif%}</th>
      </tr>
    </thead>
    <tbody>

    {% with season.players_in_season.all|dictsortreversed:"internal_score" as player_list %}
 
      {% for psf in player_list %}
        {% if psf.profile.user.username != 'Tie' and psf.profile.user.username != 'Bye' %}
          <tr data-href="{%url 'psf view' psf.id%}">
            <td>{{psf.profile}}</td>
            <td>{{psf.faction}}{% if psf.sub_faction %} -- {{psf.sub_faction}}{% endif %}</td>
            <td>{{psf.wlrecord}}</td>
            <td>{{psf.score}}</td>
          </tr>
        {%else%}
          {%comment%}tie does not get displayed on sumary screens{%endcomment%}
        {%endif%}
      {% endfor %}
    {% endwith %}
    </tbody>
  </table>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>