{% load crispy_forms_tags %}


<div class="panel-heading">


{% if source_gallery %}
  {%if perms.Gallery.add_userimage %}
        <h3>
          <a class="list-group-item list-group-item-light" href="{% url 'gallery upload' %}">Upload Images with no sub-images</a>
          <br>
          <a class="list-group-item list-group-item-light" href="{% url 'gallery upload multipart' %}">Upload an Image with sub-images linked to it</a>
        </h3>
  {%endif%}
{% endif %}


{% if source_studiodetail %}
  {% if request.user.is_staff or request.user == studio.userprofile %}
        <h3>
          <a class="list-group-item list-group-item-light" href="{% url 'painting studio upload' studio.slug studio.id %}">Upload Images with no sub-images</a>
          <br>
          <a class="list-group-item list-group-item-light" href="{% url 'painting studio multipart upload' studio.slug studio.id %}">Upload an Image with sub-images linked to it</a>
        </h3>
  {%endif%}
{% endif %}



{% if source_profile %}

  {%if perms.Gallery.add_userimage and request.user == profile.user %}
        <h3>
          <a class="list-group-item list-group-item-light" href="{% url 'gallery upload' %}">Upload Images with no sub-images</a>
          <br>
          <a class="list-group-item list-group-item-light" href="{% url 'gallery upload multipart' %}">Upload an Image with sub-images linked to it</a>
        </h3>
  {%endif%}

{% endif %}






{% if request.user.is_staff %}
    <a class="nav-item nav-link" href="{% url 'manage image fields' %}">manage image fields</a>
{% endif %}

  <h3>Filter Images</h3>
</div>

<a class="nav-item nav-link" href="{{request.path}}?order=popularity">Reset Filters</a>


<div class='panel-body'>
{{ filter_form.form.media.css }}
<link href="/static/django_select2/django_select2.css" type="text/css" media="screen" rel="stylesheet">
  <form method="get"
  {% if source_imagedetail_fromstudio %}
    action="{%url 'painting studio' 'static_slug' source_imagedetail_fromstudio %}"
  {% elif source_imagedetail_fromprofile %}
    action="{%url 'profile' source_imagedetail_fromprofile %}"
  {% else %}
  {% endif %}
  >
    <div class="form-group">

        {# <legend class="border-bottom mb-4">Filter Images By</legend> #}

        <label for="{{field.name}}" class='col-2 control-label'>{{filter_form.form.fuzzy_search.label}}</label>
        <div class='col-10'>
          {{ filter_form.form.fuzzy_search }}
        </div>

        <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Expand Advanced Search
        </button>

        <div class="collapse" id="collapseExample">
          <p>Note: these filters currently search for images where only the selected filters are present. For example a filter of Necrons & Tyranids will return only images that have both and no images that only have one</p>

          {%for field in filter_form.form%}

            {% if field.label == filter_form.form.fuzzy_search.label %}
              <!-- deleted keyword since it appears above -->
            {% else %}
              <label for="{{field.name}}" class='col-2 control-label'>{{field.label}}</label>
              <div class='col-10'>
                {{ field }}
              </div>
            {% endif %}

          {%endfor%}

        </div>


    </div>
    <button class="btn btn-primary m-1" type="submit">Filter</button>
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{ filter_form.form.media.js }}
</div>
